[submodule "gir"]
	path = gir/gir-ffi
	url = https://github.com/onlycs/gir-ffi
	update = none
	branch = main
[submodule "gobject/gir-files"]
	path = gir/gir-files
	url = https://github.com/onlycs/astal-gir